/*
Theme Name: Byrne-Systems
Theme URI: http://byrne-systems.com/golden-ratio-calculator
Description: Golden Ratio Calculator
Version: 0.9
Author: Justin D. Byrne
Author URI: http://www.byrne-sytems.com
License: N/A
License URI: N/A
Text Domain: Byrne-Systems
*/

/* IMPORT FONTS */
@font-face { font-family: 'geometry_soft';
    src: url('../fonts/geometry_soft.eot');
    src: url('../fonts/geometry_soft.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometry_soft.woff') format('woff'),
         url('../fonts/geometry_soft.ttf') format('truetype'),
         url('../fonts/geometry_soft.svg#geometry_soft_probold_n') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { font-family: 'akashi';
    src: url('../fonts/akashi-webfont.eot');
    src: url('../fonts/akashi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akashi-webfont.woff') format('woff'),
         url('../fonts/akashi-webfont.ttf') format('truetype'),
         url('../fonts/akashi-webfont.svg#akashiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { font-family: 'abeeze';
    src: url('../fonts/abeezee-regular-webfont.eot');
    src: url('../fonts/abeezee-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/abeezee-regular-webfont.woff') format('woff'),
        url('../fonts/abeezee-regular-webfont.ttf') format('truetype'),
        url('../fonts/abeezee-regular-webfont.svg#abeezeeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { /* Box-sizing */
    -webkit-box-sizing:border-box;                          /* -webkit:Safari, Chrome */
     -khtml-box-sizing:border-box;                          /* -khtml:Konqueror */
       -moz-box-sizing:border-box;                          /* -moz:Mozilla */
        -ms-box-sizing:border-box;                          /* -ms:Microsoft */
         -o-box-sizing:border-box;                          /* -o:Opera */
            box-sizing:border-box;                          /* CSS3 */
}

/* HTML ELEMENTS */
html { font-size:100%; }                                    /* Font-size */

body { background:#5F8FB3; }                                /* Background */

h1 {
    font-family:'geometry_soft';                            /* Font-family */
    font-size:2.5rem;                                       /* Font-size */
}

h2 {
    font-family:'geometry_soft';                            /* Font-family */
    font-size:1.5rem;                                       /* Font-size */
    line-height:normal;                                     /* Line-height */
}

h3 {
    font-family:'geometry_soft';                            /* Font-family */
    font-size:3rem;                                         /* Font-size */
    line-height:normal;                                     /* Line-height */
}

h4 {
    font-family:'geometry_soft';                            /* Font-family */
    font-size:2rem;                                         /* Font-size */
    line-height:normal;                                     /* Line-height */
}

div.row {
    text-align:center;                                      /* Text-align */

    /* CSS3: transitions */
    -webkit-transition:all 0.4s ease-out;                   /* -webkit: Safari, Chrome */
       -moz-transition:all 0.4s ease-out;                   /* -moz: Mozilla */
        -ms-transition:all 0.4s ease-out;                   /* -ms: Microsoft */
         -o-transition:all 0.4s ease-out;                   /* -o: Opera */
            transition:all 0.4s ease-out;                   /* CSS3 */

}

div[class^="c"] {
    padding:1rem 1em;                                       /* Padding */
    border:0.2331em solid #00A9E0;                          /* Border */
    background:#3B719A;                                     /* Background */

    /* Border-radius */
    -webkit-border-radius: 0.5em;                           /* -webkit: Safari, Chrome */
     -khtml-border-radius: 0.5em;                           /* -khtml: Konqueror */
       -moz-border-radius: 0.5em;                           /* -moz: Mozilla */
        -ms-border-radius: 0.5em;                           /* -ms: Microsoft */
         -o-border-radius: 0.5em;                           /* -o: Opera */
            border-radius: 0.5em;                           /* CSS3 */

    /* CSS3: box-shadow; */
    -webkit-box-shadow:0em 0em 0.75em #3B3B3D;              /* -webkit: Safari, Chrome */
     -khtml-box-shadow:0em 0em 0.75em #3B3B3D;              /* -khtml: Konqueror */
       -moz-box-shadow:0em 0em 0.75em #3B3B3D;              /* -moz: Mozilla */
        -ms-box-shadow:0em 0em 0.75em #3B3B3D;              /* -ms: Microsoft */
         -o-box-shadow:0em 0em 0.75em #3B3B3D;              /* -o: Opera */
            box-shadow:0em 0em 0.75em #3B3B3D;              /* CSS3 */
}

div.c9 { width:72%; }                                       /* Width */

/* HEADER */
header {
    display:block;                                          /* Display */
    width:100%;                                             /* Width */
    line-height:normal;                                     /* Line-height */
}

header div.logo {
    display:inline-block;                                   /* Display */
    margin-bottom:1.85rem;                                  /* Margin */
    padding:1.25rem 0.5em 0rem 2em;                         /* Padding */
    width:100%;                                             /* Width */
    background-color:#3B719A;                               /* Background Color */
    border-bottom:0.2016em solid #00A9E0;                   /* Border-bottom */

    /* Box-Shadow */
    -webkit-box-shadow:0em 0.125em 0.65em #003D80;          /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.125em 0.65em #003D80;          /* -moz: Mozilla */
            box-shadow:0em 0.125em 0.65em #003D80;          /* CSS3 */
}

header div.logo div#golden-ratio-title {
    display:inline-block;                                   /* Display */
}

header div.logo div#golden-ratio-title h1 {
    position:relative;                                      /* Position */
    top:-0.75rem;                                           /* Top */
    margin-left:0.35em;                                     /* Margin-left */
    color:#3E96C6;                                          /* Color */
    text-shadow:0em 0.0125em 0.135em #000;                  /* Text-Shadow */
}

header div.logo figure#chrome-logo span,
header div.logo figure#chrome-logo img { display:inline; }  /* Display */

header div.logo figure#chrome-logo {
    font-family:'akashi';                                   /* Font-family */
    font-size:1rem;                                         /* Font-size */
    margin-top:1rem;                                        /* Margin-top */
    margin-right:2em;                                       /* Margin-right */
    color:#D2DEE7;                                          /* Color */
    float:right;                                            /* Float */
}

header div.logo figure#chrome-logo span {
    position:relative;                                      /* Position */
    bottom:1.15rem;                                         /* Bottom */
    text-shadow:0em 0.125em 0.25em #333;                    /* Text-shadow */
}

/* PARENT NAV */
div.grid div.row div.c3 ul#nav-primary * { list-style-type:none; }      /* List-style-type */

ul#nav-primary { margin-left:-2.25em; }                     /* Margin-left */

ul#nav-primary a {
    text-decoration:none;                                   /* Text-decoration */
    color:#1FE4CC;                                          /* Color */
}

ul#nav-primary li.res-button {
    margin-bottom:1.5rem;                                   /* Margin-bottom */
    background:#5F8FB3;                                     /* Background */
    color:#1FE4CC;                                          /* Color */
    text-shadow:0em 0.125em 0.25em #3B3B3D;                 /* Text-shadow */
    border:0.2016em solid #34CFB8;                          /* Border */

    /* Border-radius */
    -webkit-border-radius:0.5em;                            /* -webkit: Safari, Chrome */
     -khtml-border-radius:0.5em;                            /* -khtml: Konqueror */
       -moz-border-radius:0.5em;                            /* -moz: Mozilla */
        -ms-border-radius:0.5em;                            /* -ms: Microsoft */
         -o-border-radius:0.5em;                            /* -o: Opera */
            border-radius:0.5em;                            /* CSS3 */

    /* Box-Shadow */
    -webkit-box-shadow:0em 0.125em 0.5em #242424;           /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.125em 0.5em #242424;           /* -moz: Mozilla */
            box-shadow:0em 0.125em 0.5em #242424;           /* CSS3 */

    cursor:pointer;                                         /* Cursor */
}

ul#nav-primary li.res-button h2 {
    -webkit-transition:width 0.4s linear;                   /* -webkit: Safari, Chrome */
     -khtml-transition:width 0.4s linear;                   /* -khtml: Konqueror */
       -moz-transition:width 0.4s linear;                   /* -moz: Mozilla */
        -ms-transition:width 0.4s linear;                   /* -ms: Microsoft */
         -o-transition:width 0.4s linear;                   /* -o: Opera */
            transition:width 0.4s linear;                   /* CSS3 */
}

ul#nav-primary li.res-button h2:hover {
    position:relative;                                      /* Position */
    left:0.48em;                                            /* Left */
    color:#67CDDC;                                          /* Color */
}

ul#nav-primary li.res-button h2:hover::after {
    position:relative;                                      /* Position */
    left:0.25em;                                            /* Left */
    content:url('../images/down-arrow.svg');                /* Content */
}

/* CHILD NAV */
ul#nav-primary li.res-button ul.common-res {
    display:block;                                          /* Display */
    margin:1.5rem 1em;                                      /* Margin */
    border:0.2em solid #10C7D6;                             /* Border */
    font-size:1.25em;                                       /* Font-size */

    /* Border-radius */
    -webkit-border-radius:0.5em;                            /* -webkit: Safari, Chrome */
     -khtml-border-radius:0.5em;                            /* -khtml: Konqueror */
       -moz-border-radius:0.5em;                            /* -moz: Mozilla */
        -ms-border-radius:0.5em;                            /* -ms: Microsoft */
         -o-border-radius:0.5em;                            /* -o: Opera */
            border-radius:0.5em;                            /* CSS3 */

    /* Box-Shadow */
    -webkit-box-shadow:0em 0.125em 0.5em #242424;           /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.125em 0.5em #242424;           /* -moz: Mozilla */
            box-shadow:0em 0.125em 0.5em #242424;           /* CSS3 */
}

ul#nav-primary li.res-button ul li {
    position:relative;                                      /* Position */
    left:-1.25em;                                           /* Left */
    border-bottom:0.1em dashed #3E6582;                     /* Border-bottom */
    font-size:98%;
}

ul#nav-primary li.res-button ul li:last-child { border-bottom:none; }   /* Border-bottom */

ul#nav-primary li.res-button ul li.res-select a:hover {
    position:relative;                                      /* Position */
    left:0.48em;                                            /* Left */
    color:#67CDDC;                                          /* Color */
}

ul#nav-primary li.res-button ul li.res-select a:hover::after {
    position:relative;                                      /* Position */
    margin-left:0.15em;                                     /* Margin-left */
    top:0.25rem;                                            /* Top */
    content:url('../images/right-arrow.svg');               /* Content */
}

/* NUMBER TABLE */
div.width,
div.height {
    position:relative;                                      /* Position */
    margin-top:0;                                           /* Margin-top */
    display:inline-block;                                   /* Display */
    width:42%;                                              /* Width */
}

div.gutter {
    display:inline-block;                                   /* Display */
    width:10%;                                              /* Width */
}

/* - INPUT-FORM */
div#input-form div.width h3,
div#input-form div.height h3 {
    margin:0;                                               /* Margin */
    padding-bottom:0.75rem;                                 /* Padding Bottom */
    color:#67CDDC;                                          /* Color */
    text-shadow:0em 0em 0.1827em #3B3B3D;                   /* Text-shadow */
}

div#input-form div.width input,
div#input-form div.height input {
    display:block;                                          /* Block */
    width:100%;                                             /* Width */
    padding-top:0.2301em;                                   /* Padding-top */
    padding-left:0.5em;                                     /* Padding-left */
    font-family:'akashi';                                   /* Font-family */
    color:#A9A9A9;                                          /* Color */
    border:0.1512em solid #00A9E0;                          /* Border */

    /* Box-Shadow */
    -webkit-box-shadow:inset 0em 0.125em 0.5em #242424;     /* -webkit: Safari, Chrome */
       -moz-box-shadow:inset 0em 0.125em 0.5em #242424;     /* -moz: Mozilla */
            box-shadow:inset 0em 0.125em 0.5em #242424;     /* CSS3 */

    /* Border-radius */
    -webkit-border-radius:0.5em;                            /* -webkit: Safari, Chrome */
     -khtml-border-radius:0.5em;                            /* -khtml: Konqueror */
       -moz-border-radius:0.5em;                            /* -moz: Mozilla */
        -ms-border-radius:0.5em;                            /* -ms: Microsoft */
         -o-border-radius:0.5em;                            /* -o: Opera */
            border-radius:0.5em;                            /* CSS3 */

    /* CSS3: transitions */
    -webkit-transition:border 0.4s ease-out;                /* -webkit: Safari, Chrome */
       -moz-transition:border 0.4s ease-out;                /* -moz: Mozilla */
        -ms-transition:border 0.4s ease-out;                /* -ms: Microsoft */
         -o-transition:border 0.4s ease-out;                /* -o: Opera */
            transition:border 0.4s ease-out;                /* CSS3 */
}

div#input-form div.width input:hover,
div#input-form div.height input:hover { border:0.1512em solid #34CFB8; }            /* Border */

div#input-form div.width input:focus,
div#input-form div.height input:focus {
    border:0.1512em solid #34CFB8;                          /* Border */
    outline:none;                                           /* Outline */
}

div#input-form div.width span#empty-value-bubble {
    position:absolute;                                      /* Position */
    display:none;                                           /* Display */
    top:6.25rem;                                            /* Top */
    left:0em;                                               /* Left */
    width:11.25em;                                          /* Width */
    padding:0;                                              /* Padding */
    font-family:'abeeze';                                   /* Font-family */
    color:#3B3B3D;                                          /* Color */
    text-shadow:0em 0.08em 0.25em #444;                     /* Text-shadow */
    background:#FFFFFF;                                     /* Background */
    border:#34CFB8 solid 3px;                               /* Border */

    /* Border-radius */
    -webkit-border-radius:0.5em;                            /* -webkit: Safari, Chrome */
       -moz-border-radius:0.5em;                            /* -moz: Mozilla */
            border-radius:0.5em;                            /* CSS3 */

    /* Box-Shadow */
    -webkit-box-shadow:0em 0.25em 0.75em #333;              /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.25em 0.75em #333;              /* -moz: Mozilla */
            box-shadow:0em 0.25em 0.75em #333;              /* CSS3 */

    z-index:3;                                              /* z-index */
}

div#input-form div.width span#empty-value-bubble::after {
    position:absolute;                                      /* Position */
    display:block;                                          /* Block */
    width:0;                                                /* Width */
    top:-18px;                                              /* Top */
    left:17%;                                               /* Left */
    margin-left:-14px;                                      /* Margin-left */
    border-style:solid;                                     /* Border-style */
    border-width:0 14px 18px;                               /* Border-width */
    border-color:#FFFFFF transparent;                       /* Border-color */
    content:'';                                             /* Content */
    z-index:4;                                              /* z-index */
}

div#input-form div.width span#empty-value-bubble::before {
    position:absolute;                                      /* Position */
    display:block;                                          /* Display */
    width:0;                                                /* Width */
    top:-23px;                                              /* Top */
    left:17%;                                               /* Left */
    margin-left:-18px;                                      /* Margin-left */
    border-style:solid;                                     /* Border-style */
    border-width:0 18px 22px;                               /* Border-width */
    border-color:#34CFB8 transparent;                       /* Border-color */
    content:'';                                             /* Content */
    z-index:3;                                              /* z-index */
}

/* - NUMBER-FORM */
div#number-form { min-height:16.45rem; }                    /* Min-height */

div#number-form div.width h4,
div#number-form div.height h4 {
    margin:0;                                               /* Margin */
    padding:0.75rem 0em 0em 0.5em;                          /* Padding Bottom */
    color:#00A9E0;                                          /* Color */
    text-shadow:0em 0em 0.1827em #3B3B3D;                   /* Text-shadow */
}

div#number-form div.width div#a-base,
div#number-form div.height div#b-base {
    margin:0;                                               /* Margin */
    font-family:'akashi';                                   /* Font-family */
    font-size:1.5rem;                                       /* Font-size */
    color:#67CDDC;                                          /* Color */
    text-shadow:0em 0em 0.1827em #3B3B3D;                   /* Text-shadow */
}

div#number-form div.width div.a-num,
div#number-form div.height div.b-num {
    margin:0;                                               /* Margin */
    font-family:'akashi';                                   /* Font-family */
    font-size:1.25rem;                                      /* Font-size */
    color:#B5E6ED;                                          /* Color */
    text-shadow:0em 0em 0.1827em #3B3B3D;                   /* Text-shadow */
}

/* CONTROLS */
div#controls button#submit-button {
    position:relative;                                      /* Position */
    display:block;                                          /* Display */
    margin-left:1.25em;                                     /* Margin-left */
    margin-bottom:1rem;                                     /* Margin-bottom */
}

div#controls button {
    display:inline-block;                                   /* Display */
    padding:0.25rem 0.5em;                                  /* Padding */
    font-family:'akashi';                                   /* Font-Family */
    font-size:1em;                                          /* Font-size */
    text-decoration:none;                                   /* Text-decoration */
    color:#FCFCFC;                                          /* Color */
    text-shadow:0em 0.1008em 0em #3B3B3D;                   /* Text-shadow */
    border:0.12em solid #3B3B3D;                            /* Border */

    /* Border-radius */
    -webkit-border-radius:0.5em;                            /* -webkit: Safari, Chrome */
     -khtml-border-radius:0.5em;                            /* -khtml: Konqueror */
       -moz-border-radius:0.5em;                            /* -moz: Mozilla */
        -ms-border-radius:0.5em;                            /* -ms: Microsoft */
         -o-border-radius:0.5em;                            /* -o: Opera */
            border-radius:0.5em;                            /* CSS3 */

    /* Background */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #656567), color-stop(1, #3B3B3D));
    background:-webkit-linear-gradient(top, #656567 5%, #3B3B3D 100%);
    background:   -moz-linear-gradient(top, #656567 5%, #3B3B3D 100%);
    background:    -ms-linear-gradient(top, #656567 5%, #3B3B3D 100%);
    background:     -o-linear-gradient(top, #656567 5%, #3B3B3D 100%);
    background:        linear-gradient(to bottom, #656567 5%, #3B3B3D 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#656567', endColorstr='#3B3B3D',GradientType=0);
    background-color:#656567;

    /* Box-Shadow */
    -webkit-box-shadow:0em 0.125em 0.5em #3B3B3D;           /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.125em 0.5em #3B3B3D;           /* -moz: Mozilla */
            box-shadow:0em 0.125em 0.5em #3B3B3D;           /* CSS3 */

    /* CSS3: transitions */
    -webkit-transition:box-shadow 0.4s ease-out;            /* -webkit: Safari, Chrome */
       -moz-transition:box-shadow 0.4s ease-out;            /* -moz: Mozilla */
        -ms-transition:box-shadow 0.4s ease-out;            /* -ms: Microsoft */
         -o-transition:box-shadow 0.4s ease-out;            /* -o: Opera */
            transition:box-shadow 0.4s ease-out;            /* CSS3 */

    cursor:pointer;                                         /* Cursor */
}

div#controls button#submit-button:hover {
    /* Box-Shadow */
    -webkit-box-shadow:0em 0.125em 0.75em #290011;          /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.125em 0.75em #290011;          /* -moz: Mozilla */
            box-shadow:0em 0.125em 0.75em #290011;          /* CSS3 */
}

div#controls button#submit-button:active {
    -webkit-box-shadow:inset 0em 0.125em 0.5em #290011;     /* -webkit: Safari, Chrome */
       -moz-box-shadow:inset 0em 0.125em 0.5em #290011;     /* -moz: Mozilla */
            box-shadow:inset 0em 0.125em 0.5em #290011;     /* CSS3 */
}

div#controls button:focus {
    border:0.15em solid #3B3B3D;                            /* Border */
    outline:none;                                           /* Outline */
}

/* STATISTICS */
div#statistics div#stat-masthead {
    padding-left:0.5em;                                     /* Padding-left */
    padding-bottom:0.5rem;                                  /* Padding-bottom */
    margin-top:-0.5rem;                                     /* Margin-top */
    font-family:'geometry_soft';                            /* Font-family */
    font-size:1.75rem;                                      /* Font-size */
    text-align:left;                                        /* Text-align */
    color:#67CDDC;                                          /* Color */
    text-shadow:0em 0.125em 0.25em #3B3B3D;                 /* Text-shadow */
}

div#statistics div#stat-masthead span#beta { color:#DF327B; }           /* Color */

div#statistics div#stat-masthead span#coming-soon { color:#FFDF3A; }    /* Color */

div#statistics div#stat-masthead::after {
    position:absolute;                                      /* Position */
    margin-top:0.25rem;                                     /* Margin-top */
    margin-left:0.25em;                                     /* Margin-left */
    content:url(../images/statistics.svg);                  /* Content */
}

div#statistics div#stat-pool {
    display:block;                                          /* Display */
    margin:0rem 0.75em 0.5rem 0.75em;                       /* Margin */
    background-color:#4688B9;                               /* Background-color */
    border:1px solid #444;                                  /* Border */

    /* Box-Shadow */
    -webkit-box-shadow:0em 0em 0.75em #290011;              /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0em 0.75em #290011;              /* -moz: Mozilla */
            box-shadow:0em 0em 0.75em #290011;              /* CSS3 */

    /* Border */
    -webkit-border-radius:0.5em;                            /* -webkit: Safari, Chrome */
     -khtml-border-radius:0.5em;                            /* -khtml: Konqueror */
       -moz-border-radius:0.5em;                            /* -moz: Mozilla */
        -ms-border-radius:0.5em;                            /* -ms: Microsoft */
         -o-border-radius:0.5em;                            /* -o: Opera */
            border-radius:0.5em;                            /* CSS3 */
}

div#statistics div#stat-pool div.row ol#res-list {
    position:relative;                                      /* Position */
    margin-bottom:-1.5em;                                   /* Margin-bottom */
    margin-left:-1.25em;                                    /* Margin-left */
    margin-right:1em;                                       /* Margin-right */

    /* Columns */
    -webkit-column-count:3;                                 /* -webkit: Safari, Chrome */
       -moz-column-count:3;                                 /* -moz: Mozilla */
         -o-column-count:3;                                 /* -o: Opera */
            column-count:3;                                 /* CSS3 */

    /* Graps */
    -webkit-column-gap:0;                                   /* -webkit: Safari, Chrome */
       -moz-column-gap:0;                                   /* -moz: Mozilla */
         -o-column-gap:0;                                   /* -o: Opera */
            column-gap:0;                                   /* CSS3 */

}

div#statistics div#stat-pool div.row ol#res-list li {
    font-family:'geometry_soft';                            /* Font-family */
    font-size:1.75rem;                                      /* Font-size */
    color:#1FE4CC;                                          /* Color */
    text-shadow:0em 0.125em 0.25em #3B3B3D;                 /* Text-shadow */
    cursor:pointer;                                         /* Cursor */
}

/* FOOTER */
footer {
    width:100%;                                             /* Width */
    padding:0.25rem 0 0.25rem 0.5em;                        /* Padding */
    background-color:#ccc;                                  /* Background-color */
    border-top:0.1008em solid #333;                         /* Border-top */
    border-bottom:1px solid #333;                           /* Border-bottom */
    font-size:1.2rem;                                       /* Font-size */
    text-shadow:0em 0.125em 0.2em #666;                     /* Text-shadow */
}

footer a {
    text-decoration:none;                                   /* Text-shadow */
    color:#242424;                                          /* Color */
}

/* Media Queries                                                                                                                    */
@media handheld, only screen and (max-width: 1065px), only screen and (max-device-width: 1065px) and (orientation:portriat) {
    div#statistics div#stat-pool div.stat { font-size:1.5rem; }         /* Font-size */
}

@media handheld, only screen and (max-width: 920px), only screen and (max-device-width: 920px) and (orientation:portriat) {
    div#statistics div#stat-pool div.stat { font-size:1.15rem; }        /* Font-size */
}

@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) and (orientation:portrait){
    div.c9 { width:100%; }                                  /* Width */

    header div.logo div#golden-ratio-title h1 {
        font-size:2.25rem;                                  /* Font-size */
        margin-left:0.15em;                                 /* Margin-left */
        text-shadow:0em 0.0125em 0.25em #000;               /* Text-Shadow */
    }

    header div.logo figure#chrome-logo { display:none; }    /* Display */
}

@media handheld, only screen and (max-width: 700px), only screen and (max-device-width: 700px) and (orientation:portrait) {

    div#statistics div#stat-pool div.row ol#res-list {
        margin-bottom:0em;                                  /* Margin-bottom */

        /* COLUMN-COUNT */
        -webkit-column-count:2;                             /* -webkit: Safari, Chrome */
           -moz-column-count:2;                             /* -moz: Mozilla */
             -o-column-count:2;                             /* -o: Opera */
                column-count:2;                             /* CSS3 */
    }
}